.carrusel
{
    width: 100%;
    height: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.carrusel .carrusel-dots
{
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carrusel .carrusel-dots .carrusel-item
{
    width: 100%;
    height: 100vh;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carrusel .carrusel-dots .carrusel-item::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.carrusel .carrusel-dots .carrusel-item .imagen-vehiculo
{
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.carrusel .contenedor-botones
{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translateY(-50%);
    z-index: 1;
}